.footerTitle{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px !important;
    color: white;
}
footer ul li a{
    font-size: 14px;
    font-weight: 400;
    color: #999 !important;
    transition: all .3s ease;
    position: relative;
    background: transparent;
}
footer ul li a::before{
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background: white;
    bottom: -5px;
    left: 0;
    transition: all .3s ease;
}
footer ul li a:hover::before{
    width: 50%;
}
footer ul li a:hover{
    color: white !important;
}
.footer_icon p{
    font-size: 12px;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: normal;
}
.footer_icon img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    background: transparent;
    transition: all .3s ease;
    border-radius: 50%;
    padding: 5px;
}
.footer_icon img:hover{
    background: rgba(0,0,0,.5);
}